.App {
  /* text-align: center; */
  background-color: #f8f9fa;
}

.frame {
  width: "80px";
  height: "100px";
}

.active {
  font-weight: "bold";
  color: #fbbe5c;
}
.contactIcon {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  background-color: #fbbe5c;
  padding: 10px;
}
